body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(126, 161, 216); */
  background: linear-gradient(to left, rgb(203, 223, 240), rgb(65, 112, 188));
  /* background-image: url('/images/clean-sky.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  height: 100vh; 
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-home > img {
  width: 240px;
  margin-left: 16vw;
}
