#create-page,
#edit-page {
    position: absolute;
    margin: 90px 0px;
    width: 800px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background: white;
    box-shadow: 0 4px 8px 3px rgba(0,0,0,.15),0 1px 3px rgba(0,0,0,.3);
}

input[type="text"], input[type="url"], input[type="email"] {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 20px 20px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.container h1 {
    color: rgb(25, 23, 23);
}

textarea {
    width: 100%;
    min-width: 20vw;
    min-height: 7em;
    border: 2px solid #86a480;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    margin-top: 7px;
    color: black;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.create-comment textarea {
    padding: 22px;
}

.calendar-picker {
    width: 260px;
    align-self: flex-start;
    margin-top: 4px;
    border-radius: 0.7em;
    font-size: 26px;
    border-bottom-color: #ecf0f3;
    background-color: #ecf0f3;
    border-right-color: #ecf0f3;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
    padding: 6px 26px;
}

.members-list-head {
    margin-top: 6px;
}

.field-info {
    font-size: 20px;
    color: gray;
}