#hero-header {
    width: 100vw;
    padding: 12px 340px;
    text-align: center;
}

header h1 {
    color: white;
    margin-bottom: 28px;
    font-style: italic;
}

.hero-nav {
    width: 100vw;
    padding: 22px 26vw;
    /* border-radius: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: whitesmoke;
}

