.not-found-container {
  text-align: center;
  padding: 5rem 2rem;
  font-family: Arial, sans-serif;
  color: #333;
}

.not-found-container h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.not-found-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.not-found-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.home-button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #2c80b4;
}
